.main {
    margin: 2rem 0rem 3rem 0rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}

.container {
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.box-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img__img {
    width: 100%;
    height: auto;
    border-radius: 500px;

}

.box-data {

    width: 55%;
    height: auto;
    padding: 1rem;
}


.box__pay {
    border: 1px solid black;
    width: 30%;
    height: auto;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    margin-top: 1rem;
}

.box-button {
   
    width: 50%;
    height: auto;

}

.button__update {
    width: 30%;
    
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 5rem;
    
}

.button__delete {
    width: 30%;
    background-color: var(--color-red-delete);
    color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 5rem;
    
}