@import "@angular/material/prebuilt-themes/indigo-pink.css";



:root {
    --color-background-grey: rgb(230, 229, 229);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(233, 0, 116);
    --color-green-button: rgb(36,129,36);
    --color-price: rgb(9, 173, 9);
    --color-black: rgb(3,3,3);
    --color-grey-white: rgb(66, 66, 66);
    --color-grey-white2: rgb(116, 116, 116);
    --color-red-delete: rgb(241, 12, 12);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
