header {
    background-color: rgb(245, 247, 244);
    
}

.content-header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.box-title {
    width: 20%;
    border: 1px solid black;
}

.box-menu {
    width: 80%;
    border: 1px solid black;
}

.title {
    margin-left: 3%;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}