header {
    
    width: 100%;
    height: 100%;
    margin:0 ;
    padding: 0;
}

.content-header {
    background-color: rgb(221, 223, 220);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box-title {
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

mat-toolbar {
    
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

@media (max-width: 768px) {

    .content-header {
        display: flex;
        flex-direction: column;
    }

    .box-title  {
        width: 100%;
        font-size: 0.7rem;
    }
    .box-toolbar {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 1080px) {

   
}