header {

    width: 100%;
    height: 100%;
    margin:0 ;
    padding:0;
}

.content-header {
    background-color: rgb(221, 223, 220);
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box-title {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     padding: 0.2rem;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

mat-toolbar {
    
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
            
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

@media (max-width: 1000px) { 
    
    .box-title {
        margin-left: 1rem;
       

    }


}

@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        padding: 0;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-header {
        display: flex;
        flex-direction: column;
    }

    .box-title  {
        width: 100%;
        font-size: 0.7rem;
    }

    .box-title {
        border-right: 0px;
    }
    .box-toolbar {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-bottom:1rem ;
    }

    .button {
        
        width: 100%;
    }
}
