<div class="header">
    <header>
        <div class="content-header">
            <div class="box-title">
                <h1 class="title"> Libreria Libreros </h1>
            </div>
            
            <mat-toolbar class="box-toolbar">
                <button mat-button routerLink="/" class="button"> Inicio</button>
                <button mat-button routerLink="/" class="button"> Best Seller</button>
                <button mat-button routerLink="/" class="button"> Ebooks</button>
                <button mat-button routerLink="/" class="button"> Historic Book</button>
                <button mat-button routerLink="/Detalle-libro" class="button">New Books</button>
                <button mat-button routerLink="/" class="button"> Special Offers</button>
            </mat-toolbar>
        
        </div>
    </header>
</div>

