.best-seller-panel__box--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem 0 2rem 0;

}

.box_title {

    width: 97%;
    font-family: 'Intel', sans-serif;
    color: var(--color-black);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box_button {
    width: 3%;
    padding-top: 0.8rem;
    padding-right: 0.6rem;

}

.button {
    background-color: var(--color-black);
    color: var(--color-white);
    
}

