.main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.best-seller-panel__box--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.box_title {

    width: 94%;
    font-family: 'Intel', sans-serif;
    color: var(--color-black);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.box_button {
    width: 10%;
    padding-top: 0.8rem;
    padding-right: 0.6rem;

}

.button {
    background-color: var(--color-black);
    color: var(--color-white);
    
}

.best-seller-panel__box-body {
   width: 90%; 
   height: auto;
   min-height: auto;
   margin-bottom: 2rem;
   padding-left: 4rem;
   padding-right: 4rem;

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)) ;
   gap: 4rem;
   padding-bottom: 2rem;

}

@media (max-width: 768px) { 

    .main {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }

    .best-seller-panel__box--title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 2rem;
    }

    .box_title {

        width: 100%;
        padding-left: 0rem;
        display: flex;
        flex-direction: co;
        justify-content: center;
        align-items: center;
        margin-left: 7rem;
    }

 

    .title2 {
        width: 100%;
        margin-left: 3rem;
    }
    h1 {
        width: 100%;
        font-size: 1.1rem;
    }

    .box_button {
        width: 5%;
        height: 10%;
        padding-top: 0;
        
    }



}
