<div class="main">
    <div class="manejo">
        <div class="best-seller-panel__box--title">
            <div class="box_title">
                <h1>{{title}}</h1>
            </div>
            <div class="box_button">
                <button mat-icon-button class="button" (click)="openDialog()">
                    <mat-icon>
                        add
                    </mat-icon>
                </button>
            </div>  
        </div>
        
        <div class="best-seller-panel__box-body">
            <app-book-card *ngFor="let book of booksArray" [book]="book"></app-book-card>
        </div>
    
</div>
