.best-seller-panel__box--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    

}

.box_title {

    width: 94%;
    font-family: 'Intel', sans-serif;
    color: var(--color-black);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 9rem;
}

.box_button {
    width: 10%;
    padding-top: 0.8rem;
    padding-right: 0.6rem;

}

.button {
    background-color: var(--color-black);
    color: var(--color-white);
    
}

.best-seller-panel__box-body {

   width: 90%; 
   height: auto;
   min-height: auto;
   margin-bottom: 2rem;
   padding-left: 4rem;
   padding-right: 4rem;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)) ;
   gap: 4rem;
   padding-bottom: 2rem;

}

