

footer {
    width: 100%;
  
}

.box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(15, 15, 15);
    
}
p {

    color: white;
    
}

@media (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }

}