

footer {
    width: 100%;
  
}

.box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    
}
p {
    color: var(--color-white);
}

@media (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }

}