.body-book-list {
    
    height: auto;
    background-color: rgb(230, 229, 229);
    padding: 1% 0% 1% 0%;
    
}

.central-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.text-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 3%;
    padding-right:3%;
    padding-left:3%;
    border: 1px solid black;
}

.text-panel-title {
    
    width: 100%;
    height: auto;
    padding: 1%;
    
}
h1 {
    font-size: 2.8rem;
    letter-spacing: 0.021em;
    line-height: 1.4;
    margin-bottom: 0;
}

.picture-panel {
    width: 100%;
    height: auto;
    border: 1px solid black;
}