
.body-book-list {
    
    height: auto;
    padding: 1% 0% 1% 0%;
    background-color: var(--color-background-grey);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 3%;
    
}

.text-panel__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-left: 5%;
    
}

.picture-panel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.text-panel__title {
    width: 100%;
    height: auto;

}

.text-panel__description {
    width: 70%;
    font-weight: 400;
    font-size: 0.95rem;
}



h1 {
    font-size: 2.8rem;
    letter-spacing: 0.021em;
    line-height: 1.4;
    margin-bottom: 0;
}


.picture-panel__main--picture {
    margin-top: 5%;
    max-width: 70%;
    height: auto;
}

/* Buscador**/
mat-form-field {
    width: 110%;
  
}


.button-search  {
    background-color: var(--color-green-button);
    width: 100px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0;
    margin-right: 10px;
}

.best-seller-panel {
    border: 1px solid black;
    background-color: var(--color-white);
    padding-left: 7%;
}