




.body-book-list {
    margin-top: 2rem;
    height: auto;
    padding: 1% 0% 1% 0%;
    background-color: var(--color-background-grey);
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 3%;
    
}

.text-panel__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-left: 5%;
   
}

.best-seller-panel__container {
    background-color: var(--color-background-grey);
    border-radius: 15px;
    width: 100%;

}

.picture-panel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.text-panel__title {
    width: 100%;
    height: auto;

}

.text-panel__description {
    width: 70%;
    font-weight: 400;
    font-size: 0.95rem;
}



h1 {
    font-size: 2.8rem;
    letter-spacing: 0.021em;
    line-height: 1.4;
    margin-bottom: 0;
}


.picture-panel__main--picture {
    margin-top: 5%;
    max-width: 70%;
    height: auto;
}

/* Buscador**/
mat-form-field {
    width: 110%;
  
}


.button-search  {
    background-color: var(--color-black);
    width: 100%;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 100px;
    
}

.search-field {
    width: 100%;

}

.best-seller-panel {

    background-color: var(--color-white);
    padding-left: 7%;
}

@media (max-width: 768px) { 

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .best-seller-panel__container {
        
        width:80%;
        margin-left: 3.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

    }

    .body-book-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 78%;
        margin-top: 2rem;
        height: auto;
        padding: 0% 0% 0% 0%;
        background-color: var(--color-background-grey);
        border-radius: 15px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        height: auto;
    
    }
    h1 {
       font-size: 2rem;
    }

    .text-panel__description {
        width: 95%;
    }

    .text-panel-search {
        width: 100%;
       
    }

    .search-field {
        width: 92%;
    }

    .picture-panel {
        width: 100%;
    }

    .picture-panel__main--picture {
        margin-top: 3%;
        margin-bottom: 2rem;
        max-width: 90%;
        height: auto;
    }

    
   
}