
.book-card {
    border: 2px solid rgb(15, 15, 15);
 
    padding: 1rem;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: rgb(253, 248, 248); 
}   

.book-card:hover {
    background-color:rgb(255, 255, 255);
    border: 3px solid rgb(15, 15, 15);

}


.book-card-box-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 13rem;
}

.book-card-box-img__img {
    height: auto;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.book-card-box-data {

    width: 100%;
    display: flex;
    flex-direction: row;
}
.book-card-box-data__title {

    width: 75%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: 'Intel', sans-serif;
    padding-left: 0.5rem;
}

.book-card-box-data__price{

    width: 24%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 0.15rem;
    font-family: 'Intel', sans-serif;
    color: var(--color-price);
    font-weight: 600;
    padding-right: 0.7rem;
}

.book-card-box-genre__genre {

    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 0.8rem;
    font-family: 'Intel', sans-serif;
    color: var(--color-grey-white2);
}

.genre {
    margin-top: 0;
}

.box_form--button {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--color-black);
    width: 100%;
}

@media (max-width: 768px) {

    .book-card-box-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        max-width: 20rem;
    }

        .book-card-box-data__title {

        width: 74%;
        display: flex;
        justify-content: start;
        align-items: start;
        font-family: 'Intel', sans-serif;
        padding-left: 1.7rem;
    }

    .book-card-box-data__price{
        width: 24%;
        padding-bottom: 0.25rem;
        padding-right: 2rem;
    }

    .book-card-box-genre__genre {

        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        padding-left: 3.4rem;
        font-family: 'Intel', sans-serif;
        color: var(--color-grey-white2);
    }

}

@media (max-width: 978px) {

    .book-card-box-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        max-width: 30rem;
    }


    .book-card-box-data__title {

        width: 74%;
        display: flex;
        justify-content: start;
        align-items: start;
        font-family: 'Intel', sans-serif;
        padding-left: 0.2rem;
    }

    .book-card-box-data__price{
        width: 24%;
        padding-bottom: 0.25rem;
        padding-right: 0.5rem;
    }

    .book-card-box-genre__genre {
        width: 100%;
        padding-left: 0.5rem;
    }

    .button{
        width: 96%;
        margin-bottom: 1rem;
    }

}



