::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__leading,
::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing {
  border: none !important;
}

::ng-deep .mdc-notched-outline__notch {
    border: none !important;
    width: 100% !important;

    clip-path: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__notch {
    width: 100%;
  border-bottom: 1px solid black !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

::ng-deep .mat-mdc-input-element {
    color: var(--color-black) !important;
}

::ng-deep .mdc-floating-label {
    color: var(--color-grey-white) !important;
}

.input {
    width: 80%;
    margin-left: 3rem;
    margin-right: 3rem;
    border: none !important;
}

.mdc-notched-outline {
    border-bottom: 2px solid black;
}

