

footer {
    width: 100%;
  
}

.box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    border-radius: 15px;
    padding: 1rem;
    
}
p {
    color: var(--color-white);
}

@media (max-width: 768px) {

    .box-footer {
        width: 75%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    
    p {
        font-size: 0.8rem;
    }

}